h1 {
    color: #0096c7;
    text-align: center;
}

nav ol {
    list-style-type: none;
    display: flex;
    justify-content: left;
    background-color: #dda15e;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0;
}

nav ol a {
    text-decoration: none;
    font-size: 2em;
    color: #588157;
    padding: 15px;
}

nav ol a:hover {
    color: #283618;
    background-color: #99582a;
}
body {
    background-color: #faedcd;
    margin: 0;
    padding: 0;
}