h1 {
    font-size: 40px;
    color: #E0E0E0;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 50px;
    background-color: #000080;
}

h2 {
    font-size: 28px;
    color: #34a0a4;
    text-align: center;
}

nav ol {
    list-style-type: none;
    display: flex;
    justify-content: center;
    background-color: #dda15e;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
}

nav ol a {
    text-decoration: none;
    font-size: 2em;
    color: #588157;
    padding: 15px;
}

nav ol a:hover {
    color: #283618;
    background-color: #99582a;
}

body {
    font-size: 18px;
    background-color: #d1d1cf;
    margin: 0;
    padding: 0;
}

.text {
    padding-top: 5px;
    padding-bottom: 5px;
}

.container {
    margin: auto;
    width: 80%;
}

img {
    float: left;
    margin: 10px;
    border-radius: 10px;
    border: 2px solid white;
}